body{
    font-family: 'Poppins', sans-serif;
    color: snow;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 10px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    color: snow;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;

}
.top-banner{
    background-image: url(images/bg-new.jpg);
    background-repeat: no-repeat;   
}
.my-goal{
    background-image: url(images/bg-new3.jpg);
    background-repeat: no-repeat;
}