body{
    font-family: 'Poppins', sans-serif;
    color: rgb(15, 115, 161);
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    color: snow;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;

}
.top-banner{
    background-image: url(images/bg-new.jpg);
    background-repeat: no-repeat;   
}
.my-goal{
    background-image: url(images/bg-new3.jpg);
    background-repeat: no-repeat;
}
.experience-item{
    width: 40%;
    padding-left: 30px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
    box-shadow: 10px 20px 40px gray;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack-exp{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(blue, rgb(0, 153, 255));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}